.logo_txt{
	font-family: 'PT Serif', serif;
}

.menu_txt{
	font-family: 'Roboto', sans-serif;
}

.title_txt{
	font-family: 'PT Serif', serif;
}

.basic_txt{
	font-family: 'Roboto', sans-serif;
}

.btn_txt{
	font-family: Roboto, sans-serif;
}
