.wrapper{
	margin: auto;
	width: 80%;
}
.header{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

.section{
	display: flex;
	justify-content: space-between;
}

.logo{
	position: relative;
	padding-left: 44px;
	font: bold 24px/31px pt_serif, 'Times New Roman', Times, serif;
}

.logo__circle{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	height: 28px;
	border-radius: 50%;
	opacity: .7;
}

.logo__circle_color_dark-blue{
	background: #0056EC;
}

.logo__circle_color_blue{
	left: 8px;
	top: 70%;
	background: #C8DBFB;
}


.logo__image{
	margin-right: 10px;
}

.menu{
	display: flex;
	align-items: center;
}

.menu__item{
	position: relative;
	margin-right: 26px;
	font: 500 18px/21px roboto, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #000;
	opacity: .7;
	transition: opacity .5s, background .5s;
}

.menu__item:last-child{
	margin-right: 0;
}

.menu__item:hover{
	opacity: 1;
	background: lightblue;
}


.menu__item::after{
	position: absolute;
	top: 0%;
	transform: translateY(-150%);
	display: block;
	content: '';
	left: 0;
	width: 0;
	height: 3px;
	background: #0056EC;
	opacity: 0;
	transition: opacity .5s, width .5s;
}

.menu__item:hover:after, .menu__item_active:after{
	opacity: 1;
	width: 100%;

}

.section{
	margin: 125px 0;
}

.main-content__title{
	padding: 40px 0;
	width: 567px;
	font-family: pt_serif, 'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 66px;
}

.main-content__description{
	width: 455px;
	font-family: 'roboto', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 22px;
}

.main-content__button{
	padding: 30px 0;
	width: 271px;
	border-style: none;
	border-radius: 4px;
	font-family: roboto, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #FFF;
	background-color: #0056EC;
}

.image-content__image{
	/*width: 100%;*/
	width: 770px;
}
